body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url("../images/white-wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  background-color: #dddd22;
  border: 1px solid #C9AE27;
  box-shadow:  -1px 1px #C9AE27, -2px 2px #C9AE27, -3px 3px #C9AE27, -4px 4px #C9AE27, -5px 5px #C9AE27;
}

.dubious {
  background-color: #dd4444;
  border: 1px solid #BD210E;
  box-shadow:  -1px 1px #BD210E, -2px 2px #BD210E, -3px 3px #BD210E, -4px 4px #BD210E, -5px 5px #BD210E;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img   {
  border: solid;
}

h4.amiable {
  background: linear-gradient(to right,  #22aa44, #fff)
}

h4.indifferent {
  background: linear-gradient(to right,  #C9AE27, #fff)
}
h4.dubious {
   background: linear-gradient(to right, #BD210E, #fff)
}
